@charset "UTF-8";
/*1、清除默认的内外边距*/
body,h1,h2,h3,h4,h5,h6,p,dl,ul,ol,li,dt,dd,input{
	margin:0;
	padding:0;
}
/*2、重置默认字体*/
body{
	font:14px/22px "宋体";/*根据项目的需求进行设置*/
	color:white;
	background-color: rgb(248,248,248);
}
/*3、设置标题字体的默认样式*/
h1,h2,h3,h4,h5,h6{
	font-size:inherit;
	font-weight:normal;
}
em,i{
	font-style:normal;
}
strong,b{
	font-weight:normal;
}
a{
	text-decoration:none;
	color:inherit;
}
img{
	border:0;
	vertical-align:top;
}
/*重置列表元素*/
li{
	list-style:none;
	display:block;
	text-align:inherit;
}
/*重置表单元素*/
input,select,textarea,button{
	border:0;
	outline:none;/*清除选中时的焦点样式*/
	font-size:inherit;
	background-color:transparent;
}
/*浮动 清除浮动*/

.flchild > *{
	float:left;
} 
.frchild > *{
	float:right;
}
.fl{ float:left;}
.fr{ float:right;}
.clearFix::after{
	content:'';
	display:block;
	clear:both;
}
.clearFix{
	zoom:1;/*兼容低版本的IE*/
}

